/*
 * Some general styling
 */

*:focus-visible {
    outline: 2px solid #d71ef7;
}

h1 {
    display: inline;
    font-size: 24px;
    vertical-align: middle;
}

.headerLogo {
    margin-right: 1rem;
    vertical-align: middle;
    height: 50px;
}

body {
    font: 18px/1.4 sans-serif;
    margin: 1em auto;
    padding: 0 1rem;
    max-width: 40em;
}

button {
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding-left: 0.3rem;
    margin-top: 0;
}

li {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

label {
    margin-right: 0.5rem;
}

a, #helpLink {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

p {
    overflow-wrap: anywhere;
}

/* Nav bar is on the right side of the screen */
nav {
    float: right;
}

/* Space out the nav bar */
nav > *:not(:last-child) {
    margin-right: 1rem;
}

/*
 * Styling for the help box
 */

details {
    display: inline;
}

details[open] {
    width: fit-content;
    float: none;
}

details > div {
    border: 1px solid;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
}

details > summary {
    list-style: none;
    cursor: pointer;
}

/* Same thing as above but special bc Safari is a snowflake */
details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary {
    font-size: 18px;
    margin-left: 0;
}

details p {
    margin: 0;
}

/*
 * Library and queue buttons should be big and offset
 */
td {
    padding-bottom: 1rem;
}
.addToQueue {
    padding-right: 1rem;
}
.downloadProgress {
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
    margin: 0;
}
.libArticleTitle {
    padding: 0;
    margin: 0;
}
.articleMetadata {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 0.5rem;
}
.queueArticleTitle {
    margin: 0 1rem;
}
.queueDelete {
    margin-left: auto;
}
/* Source URL should not be bold like the rest of the <a> tags */
.articleMetadata a {
    font-weight: normal;
}

/*
 * Library header styling
 */
#libraryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#libraryHeader > h2 {
    display: inline-block;
    vertical-align: middle;
}

#addArticle {
    vertical-align: middle;
}


/*
 * Make the skip buttons big and offset from the audio scrubber and playback speed
 */
.audiocontrol > button {
    margin-right: 1rem;
    font-size: 25px;
}
audio {
    margin-bottom: 1rem;
}
.playbackSpeedSection {
    margin-top: 1rem;
}

/*
 * Small tweaks to Add Article view
 */

fieldset {
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: 1px;
    margin-bottom: 1rem;
}

fieldset .field {
    margin-bottom: 1rem;
}

fieldset label {
    vertical-align: top;
    text-align: right;
}

fieldset h2 {
    margin-bottom: 0.5rem;
}

fieldset input,textarea {
    width: 60%;
}

/*
 * Color choices for dark mode
 */
@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background: #1b1b1b;
    }

    a, #helpLink {
        color: #5bf;
    }

    textarea, input[type="text"] {
      border-radius: 3px;
      background-color: #ccc;
    }

    details {
        border-color: #ccc;
    }

    fieldset {
        border-color: #ccc;
    }
}

