/*
 * Some general styling
 */

body {
    font: 18px/1.4 sans-serif;
    margin: 1em auto;
    padding: 0 1rem;
    max-width: 40em;
}

ul {
    list-style: none;
    padding-left: 0.3rem;
}

li {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}


label {
    margin-right: 0.5rem;
}

.navLink {
    color: blue;
    font-weight: bold;
}

/*
 * Color choices for dark mode
 */
@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background: #1b1b1b;
    }

    a {
        color: #5bf;
    }

    textarea, input[type="text"] {
      border-radius: 3px;
      background-color: #ccc;
    }
}

/*
 * List items should not be blocks
 */
.articleTitle {
    padding: 0;
    margin: 0;
}

.dateAdded {
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
    padding-left: 1rem;
}

/*
 * Library and queue buttons should be big and offset
 */
li>button {
    font-size: 1.3rem;
}
.addToQueue {
    margin-right: 1rem;
}
.queueControl {
    justify-content: space-between;
}
.queueControlDelete {
    margin-left: 1rem;
}
.queueControlPlay {
    margin-right: 1rem;
}

/*
 * Make the skip buttons big and offset from the audio scrubber and playback speed
 */
.audiocontrol>button {
    margin-right: 1rem;
    font-size: 25px;
}
audio {
    margin-bottom: 1rem;
}
.playbackSpeedSection {
    margin-top: 1rem;
}

/*
 * Small tweaks to Add Article view
 */

fieldset {
    border-width: 0px;
}

fieldset>label {
    vertical-align: top;
    text-align: right;
}

fieldset>textarea {
    width: 100%;
}

fieldset>input {
    width: 100%;
    max-width: 60%;
}
